.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

}

.left-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.right-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}