@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.todo-container{
  display: flex;
  margin: 20px;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  width: 1050px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  gap: 22px;
}

.column-container{
  width: 200px;
  flex-shrink: 0;
}

.header-container{
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  justify-content: space-between;
}
.mainHeader{
  font-size: medium;
}

.num-cards{
  border-radius: 2px;
  font-size: small;
  
}