@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.todo-container{
  display: flex;
  margin: 20px;
  justify-content: space-between;
  padding-top: 25px;
  padding-left: 35px;
  padding-right: 35px;
  width: 1050px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  gap: 22px;
}

.column-container{
  width: 200px;
  flex-shrink: 0;
}

.header-container{
  display: flex;
  margin-bottom: 3px;
  align-items: center;
  justify-content: space-between;
}
.mainHeader{
  font-size: medium;
}

.num-cards{
  border-radius: 2px;
  font-size: small;
  
}
.card{
  height: 100%;
  width: 100%;
  background-color: aliceblues;
  transition: background-color 0.3s ease;
}
.card:active{
  background-color: gray;
}

.card-container{
  font-family: 'Quicksand', sans-serif;
  font-weight: medium;
  font-size: 14px;
  cursor: grab;
  border-style: solid;
  border-width: 1.2px;
  border-radius: 4px;
  border-color: #d6ccc2;
  background-color: #f5ebe0;
  padding: 9px;
}
.card-container:active{
  cursor: grabbing;
}

.drop-indicator{
  margin: auto 2px;
  height: 2px;
  width: 100%;
  background-color: #4361ee;
  opacity: 0;
}